WcfInterface/Service References/ServiceReference1/ITrade41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ITrade.com/" elementFormDefault="qualified" targetNamespace="http://www.ITrade.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.2:8914/ITrade/ITrade?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.0.2:8914/ITrade/ITrade?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JtMarketDistribution" />
  <xs:element name="GetRealprice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strbm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealpriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRealpriceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strbm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRealDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProPrice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProPriceResult" nillable="true" type="q1:ArrayOfKeyValueOfstringProPriceznaAg5jL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLastPillar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekflg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLastPillarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllLastPillarResult" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPillarData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekflg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strbm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPillarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastPillarDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRateAndWater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pricecode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rate" type="xs:double" />
        <xs:element minOccurs="0" name="water" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRateAndWaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRateAndWaterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeDataSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JtMarketDistribution" minOccurs="0" name="tds" nillable="true" type="q3:TradeSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeDataSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyTradeDataSourceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeDataSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JtMarketDistribution" minOccurs="0" name="tds" nillable="true" type="q4:TradeSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeDataSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTradeDataSourceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeRateInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeRateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JtMarketDistribution" minOccurs="0" name="GetTradeRateInfoResult" nillable="true" type="q5:TradeRateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDateSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JtMarketDistribution" minOccurs="0" name="DtSet" nillable="true" type="q6:DateSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDateSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyDateSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateSetInfoEx">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateSetInfoExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JtMarketDistribution" minOccurs="0" name="GetDateSetInfoExResult" nillable="true" type="q7:DateSetInfoEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayInfoEx">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayInfoExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JtMarketDistribution" minOccurs="0" name="GetHolidayInfoExResult" nillable="true" type="q8:DateHolidayInfoEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JtMarketDistribution" minOccurs="0" name="Hliday" nillable="true" type="q9:DateHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyHolidayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JtMarketDistribution" minOccurs="0" name="Hliday" nillable="true" type="q10:DateHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHolidayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelHolidayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>